{% extends 'layaout.html' %}
{% load static %}

        {% block content %}
        <img src= "{% static '13.png' %}" class="img-fluid" alt="...">
        <img src ="{{post.image.url}}" alt="{{post.title}}">
        <div class="card">
                <h5 class="card-header">Noticias Corporación Primavera</h5>
                <div class="card-body">
                  <h5 class="card-title">{{post.title}}</h5>
                  <h6>{{post.date}}</h6>
                  <p class="card-text">{{post.description|safe}}</p>
                </div>
              </div>

        {% endblock %}