{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset your password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'reset_password_styles.css'%}">
</head>

<body>
    <div class="container" id="registration-form">
        <div class="card">
                <div class="card-header text-center">
                    Restablecer contraseña
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">¿Olvidaste tu contraseña?</h5>
                    <p class="card-text">llena el formulario y restáurala</p>
                    <form method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                              <button type="submit" class="btn btn-success btn-lg boton">Reset Password</button>
                       </form>
                  </div>
        </div>
    </div>
</body>

</html>