body{
    background-image: url('../static/images/5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.parent_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.child_container{
    background-color: rgba(221, 188, 211, 0.479);
    display:flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: 360px;
    height: 500px;
}
.child_container img{
    margin-top:10px;
    width: 160px;
    height: 160px;
}
#home{
    margin-top: 30px;
    height: 40px;
}
#login{
    height: 40px;
}
.child_container a{
    text-align: center;
    display:flex;
    align-items: center;
    color:black;
    font-size: large;
    text-decoration: none;
}
