body{
    background-image: url('../static/images/5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color:white;
}

.password{
    padding: 160px;
    background-color: rgba(130, 242, 126, 0.473);
 
}

@media screen and(max-width:800px){
    .password{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
}