
.form-color {
    background-color: rgba(0, 128, 0, 0.555);
}



.cont-input input {
	background: none;
    border-bottom: solid #87045F;
	border-left: none;
    border-right: none;
    border-top: none!important;
    width: 90%;
    padding: 12px 20px;
    height: auto;
    font-size: medium;

}

.cont-input input:focus {
	background:  rgba(135, 4, 96, 0.295);;
    border-bottom: solid #87045F;
	border-left: none;
    border-right: none;
    border-top: none!important;

}

.cont-input label {
    font-weight: 900;
    font-size: medium;
}

#registration-form{
	
	margin: 120px auto;
}

#registration-form .image{
	float:left;
	background-image: url("../static/images/login.jpg");
	height: 460px;
	width: 48%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#registration-form .frm{
	float:right;
    width: 50%;
    min-width: 250px;
    padding: 0 35px;
    background-color: rgba(0, 128, 0, 0.295);
}

#registration-form .title-new {
        font-weight: 900;
        color: #87045F;
}

#registration-form .form-control{
	width: 90%;
	padding: 12px 20px;
	height: auto;
}

@media screen and (max-width: 700px){

    
	#registration-form .image{
		width: 130%;
	    background-position: 60%;
	}

	#registration-form .frm{
		width: 70%;
	}

	#registration-form .form-control{
		width: 100%;
	}
}


@media screen and (max-width: 500px){
	

    .conten-img {
        display: flex;
        justify-content: center;
    }

    #registration-form .image{
		width: 322px;
        background-position: center;
        background-size: contain;
        background-repeat: space;
        
	}
	#registration-form .frm{
		width: 100%;
	}

	#registration-form h1{
		text-align: center;
	}

	#registration-form .boton{
		width: 100%;
		margin-top: 20px;
	}
}


@media screen and (max-width: 200px){
    .conten-img {
        display: flex;
        justify-content: center;
    }

    #registration-form .image{
		width: 187px;
        height: 100px;
	}
}