body{
    background-image: url('../static/images/sede.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color:white;
}
.password{
    padding: 160px;
    background-color: rgba(130, 242, 126, 0.473);
 
}

a{
    color: white;
}
