.banner{
  z-index: -1;
}


#carousel-banner{
  position:relative;
  top:-2px;
  z-index: -1;
}

#verde-container {
  position:relative;
  top: 10px;


}
hr{
  color: #fff;
}
.titulo{
  background: rgba(135, 4, 95, 0.6);
  color: #fff;
  padding: 10px;
  font-size:xx-large;
  font-weight: bold;

}
.parrafo{
  background: #F5A601;
  color: #fff;
  font-weight: bold;
  padding: 5px;
}


.btn {
        position:relative;
        left:45px;
        top:-80px;
        background-color: #279704;
        border-radius: 25%;
        margin: 10px;
        display:flex;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        font-weight: bold; 
        font-size: 18px;
    }

    h1{
      background: #87045f;
      color: #fff;
      padding: 20px;
      font-size:xx-large;
      font-weight: bold;
      text-align: center;
    }

    h3{
        font-size: 22px;
        display:flex;
        justify-content: center;
    }

    .verde {
        background-color: #b0dc8d;
        padding: 0.5rem;
        
    }
    
    .btn2{
        position:relative;
        left:4px;
        top:0.5px;
    }

    /*Que hacemos*/

    .verde2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: all 0.2s ease-in;
      }

      .verde2 .columna:hover {
        color: white;
        background-color: #C4F4B9;
        
      }

      .verde2 .mujeres-titulo {
        color: #87045f;
        font-size: 20px;
        font-weight: bold;
      }

      .verde2 .niños-titulo {
        color: #cd6200;
        font-size: 20px;
        font-weight: bold;
      }

      .verde2 .adolescentes-titulo {
        color: #279704;
        font-size: 20px;
        font-weight: bold;
      }

      /*Donaciones*/

      .donaciones .corazon-titulo {
        color: #279704;
        font-size: 20px;
        font-weight: bold;
       ;
      }

      .donaciones .impacto-titulo {
        color: #87045f;
        font-size: 20px;
        font-weight: bold;
      }

      .donaciones .vidas-titulo {
        color: #cd6200;
        font-size: 20px;
        font-weight: bold;
       
      }

      .donaciones .corazon {
        position:relative;
        top:100px;
      }

      .donaciones .impacto {
        position:relative;
        top:10px;
      }

      .donaciones .vidas{
        position:relative;
        top:100px;
      }

      /*Carousel*/

      #news{
        color: #279704;
        font-size: 20px;
        font-weight: bold;
        position:relative;
        top:120px;
      }

      #news .btn3{
       
          color:#87045f
        }

      #info{
        position: relative;
        top:150px;
      }  

      
      /*Card*/

      #card-title{
      background: #750453;
      color: #fff;
      padding: 20px;
      font-size:xx-large;
      font-weight: bold;
      text-align: center;
      }

      #card-text{
      font-size:x-large;
      font-weight: bold;
      text-align: center;
      }

      #form-title{
        background: #cd6200;
        color: #fff;
        padding: 30px;
        font-size:xx-large;
        font-weight: bold;
        text-align: center;
        position: relative;
        top:150px;
      }

     #foto {
      display: block;
      position:relative;
      top:150px;
      opacity: 75%;
     
     }

     /*Form*/

     .form_body{
      display:flex;
      flex-direction: column;
      align-items: center;
  }
      form{
      display:flex;
      flex-direction: column;
      align-items: center;
      color: white;
      font-weight: bold;
  }
      form input{
      width:250px;
  }
      .form{
      background-color: #87045F;
      display:flex;
      align-items: center;
      justify-content: center;
      width: 400px;
      height: 650px;
      border-radius: 7px;
      margin-top: 200px;
      margin-bottom: 100px;
  }
      .btn_form{
      background-color: white;
      margin-top: 20px;
      cursor: pointer;
  }

    @media only screen and (max-width: 762px) {
        
        .verde{
            padding: 2rem 2rem 2rem 2rem;
            
        }
        
        .verde2 .niños {
            position: relative;
            left:80px;
            top:-25px;
          }

          .verde2 .adolecentes {
            position: relative;
            right:85px;
            top: -230px;
          }

          .btn2{
            position:relative;
            left:4px;
            top:-240px;
        }

      .donaciones .corazon {
        position: relative;
        top:15px;
      }

      .donaciones .vidas {
        position: relative;
        top:5px;
      }
    
      .blanco{
        position: relative;
        top:-230px;
        background-color: white;
      }
      #news{
        font-size: 15px;
        font-weight: bold;
        position:relative;
        top:-150px;
        }

   #foto{
    position:relative;
    top:-140px;
   }}

   



 