.banner{
  z-index: -1;
}


#carousel-banner{
  position:relative;
  top:-2px;
  z-index: -1;
}

#verde-container {
  position:relative;


}
hr{
  color: #fff;
}
.titulo{
  background: rgba(0, 128, 0, 0.6);
  color: #fff;
  padding: 10px;
  font-size:xx-large;
  font-weight: bold;

}
.parrafo{
  background: #F5A601;
  color: #fff;
  font-weight: bold;
  padding: 5px;
}



.btn {
        position:relative;
        left:45px;
        top:-80px;
        background-color: #279704;
        border-radius: 25%;
        margin: 10px;
        display:flex;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        font-weight: bold; 
        font-size: 18px;
    }

    h1{
        color: #87045f;
        font-size: 30px;
        font-weight: bold;
        align-items: center;
        display:flex;
        justify-content: center;
    }

    h3{
        font-size: 22px;
        display:flex;
        justify-content: center;
    }

    .verde {
        background-color: #b0dc8d;
        padding: 0.5rem;
        
    }
    
    .btn2{
        position:relative;
        left:4px;
        top:0.5px;
    }

    .verde2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: all 0.2s ease-in;
      }

      .verde2 .columna:hover {
        color: white;
        background-color: #C4F4B9;
        
      }

      .verde2 .mujeres-titulo {
        color: #87045f;
        font-size: 20px;
        font-weight: bold;
      }

      .verde2 .niños-titulo {
        color: #cd6200;
        font-size: 20px;
        font-weight: bold;
      }

      .verde2 .adolescentes-titulo {
        color: #279704;
        font-size: 20px;
        font-weight: bold;
      }

      .donaciones .corazon-titulo {
        color: #279704;
        font-size: 20px;
        font-weight: bold;
       ;
      }

      .donaciones .impacto-titulo {
        color: #87045f;
        font-size: 20px;
        font-weight: bold;
      }

      .donaciones .vidas-titulo {
        color: #cd6200;
        font-size: 20px;
        font-weight: bold;
       
      }

      .donaciones .corazon {
        position:relative;
        top:100px;
      }

      .donaciones .impacto {
        position:relative;
        top:10px;
      }

      .donaciones .vidas{
        position:relative;
        top:100px;
      }

      .carousel-inner{
        color: #279704;
        font-size: 20px;
        font-weight: bold;
        position:relative;
        top:110px;
      }

      .carousel-inner .btn3{
        color:#87045f
      }

      .foto .card-title{
        font-size: 25px;
        color: black;
        align-self: center;
        font-weight: bold;
        padding: 10px;
      }

      .foto .card-text{
        font-size: 20px;
        color:black;

        font-weight: bold;
        padding: 10px;
      }

     .foto .card {
      position:relative;
      top:120px;
      opacity: 75%;
     
     }

    

    
    @media only screen and (max-width: 762px) {
        
        .verde{
            padding: 2rem 2rem 2rem 2rem;
            
        }
        
        .verde2 .niños {
            position: relative;
            left:80px;
            top:-25px;
          }

          .verde2 .adolecentes {
            position: relative;
            right:85px;
            top: -230px;
          }

          .btn2{
            position:relative;
            left:4px;
            top:-240px;
        }

      .donaciones .corazon {
        position: relative;
        top:15px;
      }

      .donaciones .vidas {
        position: relative;
        top:5px;
      }
    
      .blanco{
        position: relative;
        top:-230px;
        background-color: white;
      }

      .carousel-inner{
        position:relative;
        top:-200px;
   } 

   .foto .card {
    position:relative;
    top:-140px;
   
   }

   @media only screen and (max-width: 662px) {
    .foto .card-title{
      padding: 0;
      font-size: 20px;
    }

    .foto .card-text{
      padding: 0;
      font-size: 15px;
    }
  }

  @media only screen and (max-width: 489px) {
    .foto .card-title{
      padding: 0;
      font-size: 12px;
    }

    .foto .card-text{
      padding: 0;
      font-size: 11px;
    }
  }
}