/* Navbar*/

#navbar {
    padding: 1rem;
    background-color: white;

}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

#nav_link{
    color: green;
    font-size: 18px;
    font-weight: bold;
    display: flex;
}

#hello{
color:green;
font-size: medium;
position: relative;
top: 5px;
}

#aqui{
background-color:#87045f;
color: white;
position: relative;
top: 3px;
left: 1px;
right: 2px;
border-radius: 10%;
font-size: medium;
font-weight: bold;
}

#login{
background-color: green;
justify-content: space-around;
color: rgb(255, 255, 255);
border-radius: 10%;
font-size: medium;
font-weight: bold;
position: relative;
top:4px;
left: 5px;
}

.bi-box-arrow-in-right{
position: relative;
right: 1px;
}