#group {
  background-color: rgba(135, 4, 95, 0.8);
  position: fixed;
  top: 80%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10000; /* aumentado el valor de z-index */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btn-group-vertical a i {
  font-size: 2vw;
  padding: .5rem;
  color: aliceblue;
}

@media screen and (max-width: 768px) {
  #group {
    position: fixed;
    right: 0;
    z-index: 10000; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 60%;
    left: auto;
    padding: 5px;
    transform: translateY(-50%);
  }

  .btn-group-vertical a i {
    font-size: 1.5rem;
    padding: .25rem;
  }
}

@media screen and (max-width: 576px) {
  #group {
    position: fixed;
    right: 0;
    z-index: 90000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 60%;
    left: auto;
    padding: 5px;
    transform: translateY(-50%);
  }

  .btn-group-vertical a i {
    font-size: 1rem;
    padding: .25rem;
  }
}
