
#group{
    box-sizing: border-box;
    position: fixed !important;
    float: right;
    background-color: rgba(135, 4, 95, 0.8);
    top: 10%;
    right: 0;
    z-index: 99;
    left: 0;
    transform: translateY(-50%);
}
#content {
    position: relative;
    z-index: 1;
}

.btn-group-vertical a i {
    color: #fff;
    font-size: 2rem;
    padding: .5rem;
}

@media (max-width: 727px) {
    #group {
      position: static;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    #group a {
      font-size: 0.8rem; 
      padding: 5px; 
    }
    #group i {
      font-size: 1.5rem; 
    }
  }
  