
.titulo{
    background: rgba(0, 128, 0, 0.6);
    color: #fff;
    padding: 20px;
    font-size:xx-large;
    font-weight: bold;

}
.parrafo{
    background: #F5A601;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}

.btn-success{
    color: #fff;
    background-color: #F5A601;
    border-color: #F5A601;
}
.d-flex flex-wrap{
    align-items: center;
}

.page-container {
    margin-left: 20px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 50px 20px;
}

.card {
    margin-right: 20px;
}

#title-header{
    background:  #F5A601;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size:xx-large;

}
title-head{
    color: #FFFFFF;
    background-color: red;
}


hr{
    color: #fff;
}
#title-card{
    background: #F5A601;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size:xx-large;
}

#img-post{
    margin: auto;
    display: block;
}

#img-tar {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 500px;
  }

.card-date{
    margin: 0 20px  20px;
}
.card-text{
    margin: 0 20px 50px 20px;
}
