body {
    background-image: url(../img/fond_new.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    
}


.form-color {
    background: rgba(0, 128, 0, 0.555);
}

.title-new {
    font-weight: 900;
    color: #87045F;
}


@media (max-width: 768px) {
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .card {
      flex: 0 1 calc(50% - 1rem);
    }
  }