

.form-color {
    background-color: rgba(0, 128, 0, 0.555);
}
  

.img-edit {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
}

.img-lateral {
    height: 50%;
}

.cont-input input {
	background: none;
    border-bottom: solid #87045F;
	border-left: none;
    border-right: none;
    border-top: none!important;

}

.cont-input input:focus {
	background:  rgba(135, 4, 96, 0.295);;
    border-bottom: solid #87045F;
	border-left: none;
    border-right: none;
    border-top: none!important;

}


#registration-form{
	max-width: 800px;
	margin: 120px auto;
}

#registration-form .image{
	float:left;
	background-image: url("../img/5.png");
	height: 500px;
	width: 50%;
	background-size: cover;
	background-position: 25%;
}

#registration-form .frm{
	float:right;
	height: 500px;
    width: 50%;
    min-width: 250px;
    padding: 0 35px;
    background-size: 100% 100%;
    background-color: rgba(0, 128, 0, 0.295);
}

#registration-form .title-new {
        font-weight: 900;
        color: #87045F;
}

#registration-form .form-control{
	width: 90%;
	padding: 12px 20px;
	height: auto;
}

@media screen and (max-width: 700px){

    
	#registration-form .image{
		width: 30%;
	    background-position: 60%;
	}

	#registration-form .frm{
		width: 70%;
	}

	#registration-form .form-control{
		width: 100%;
	}
}

@media screen and (max-width: 500px){
	

    .conten-img {
        display: flex;
        justify-content: center;
    }

    #registration-form .image{
		width: 392px;
        height: 200px;
	
	}
	#registration-form .frm{
		width: 100%;
	}

	#registration-form h1{
		text-align: center;
	}

	#registration-form .boton{
		width: 100%;
		margin-top: 20px;
	}
}


@media screen and (max-width: 270px){
    .conten-img {
        display: flex;
        justify-content: center;
    }

    #registration-form .image{
		width: 300px;
        height: 250px;
	
	}
}