{% load static %}
{% block content %}


<head>
  <link type= 'text/css' href= "{% static 'css/footer.css'%}" rel="stylesheet">
</head>

<div class="card text-center container-fluid footer p-2">
   <div class="row">
    <div class="col-12">
       <h3 class="text-white"> Av. Palacé #68-05,Aranjuez, Medellín, Antioquia <br> Teléfono: 42116097 </h3>
    </div>
    <div class="justify-content-center align-content-center">
    <hr class="border-2 border border-warning">
    </div>
    <div class="col-12">
      <ul class="container-social justify-content-center">
        <li class="social "><a title="instagram" class="enlace" href="https://www.instagram.com/corpoprimavera/"><i class="fa fa-instagram"></i></a></li>
        <li class="social "><a title="facebook" class="enlace" href="https://es-la.facebook.com/corporacion.primavera"><i class="fa fa-facebook-f"></i></a></li>
        <li class="social "><a title="twitter" class="enlace" href="https://twitter.com/corpoprimavera?lang=es"><i class="fa fa-twitter"></i></a></li>
    </ul>
    </div>
   </div>
</div>

{% endblock %}