
.titulo{
    background: rgba(0, 128, 0, 0.6);
    color: #fff;
    padding: 20px;
    font-size:xx-large;
    font-weight: bold;
}
p.parrafo{
    background: rgba(135, 4, 95, 0.9);
    color: #fff;
    font-weight: bold;
    padding: 5px;
}
.btn-success{
    color: #fff;
    background-color: #279704;
    border-color: #279704;
}
#title-header{
    background: #279704;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size:xx-large;
}
hr{
    color: #fff;
}
#title-card{
    background: #87045F;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size:xx-large;
}
#img-post{
    margin: auto;
    display: block;
}