
{% extends 'layaout.html' %}
{% load static %}

        {% block content %}
        <img src ="{{project.image.url}}" alt="{{project.title}}">
        <div class="card">
                <h5 class="card-header">Noticias Corporación Primavera</h5>
                <div class="card-body">
                  <h5 class="card-title">{{project.title}}</h5>
                  <h6>{{project.date}}</h6>
                  <p class="card-text">{{project.description|safe}}</p>
                </div>
              </div>

        {% endblock %}