{% include 'bookstores.html' %}
<!--Vision-->
{% block because %}
<div class="row">
  <div class="col-6">
    <div class="card text-center cbecause">
      <div class="card-body cgeneral">
        <h5 class="card-title text-general">¿Por qué lo hacemos?</h5>
        <p class="card-text p-general">With supporting text below as a natural lead-in to additional content.</p>
      </div> 
    </div>
  </div>
  <div class="col-6">
    <div class="card cbecause">
      <div class="card-body" id="because">
      </div>
    </div>
  </div>
</div>
{% endblock %}
