{% load static %}
{% block book %}
<title> Quienes Somos </title>
    <!--CSS-->
    <link type= 'text/css' href="{% static 'css/styles_about.css' %}" rel="stylesheet"> 
    <link type= 'text/css' href="{% static 'css/banner.css' %}" rel="stylesheet">
    <link type= 'text/css' href="{% static 'css/who.css' %}" rel="stylesheet">
    <link type= 'text/css' href="{% static 'css/vision.css' %}" rel="stylesheet">
    <link type= 'text/css' href="{% static 'css/mission.css' %}" rel="stylesheet">
    <link type= 'text/css' href="{% static 'css/because.css' %}" rel="stylesheet">
    <link type= 'text/css' href="{% static 'css/statictics.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/forms_styless.css' %}"rel="stylesheet">
{% endblock %}