{% include 'bookstores.html' %}
<!--Que hacemos --> 
{% block description %}
<div class="card">
    <div class="card-body text-center">
      <h1 class="text-general">¿Qué hacemos?</h1>
      <p class="p-general">Reconocer la niña interior, traer al presente los sueños de la infancia, volver al origen y mirarse con amor, valorar lo logrado y priorizarse para sanar y crecer. conformar grupos con niños, niñas, adolescentes y cuidadoras y trabajar con ellos y ellas temas para afianzar sus vínculos familiares, promover habilidades para la vida y generar espacios de escucha mutua. </p>
    </div>
</div>
{% endblock %}