<footer>
    <div class="row text-center footer">
        <div class="col-md-4 box">
          <span class="copyright quick-links text-footer">
            Av. Palacé #68-05, Aranjuez, Medellín, Aranjuez, Medellín, Antioquia Teléfono: 42116097
          </span>
        </div>
        <div class="col-md-8 box">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
