{% include 'bookstores.html' %}
<!--Vision-->
{% block mission %}
<div class="row">
  <div class="col-6">
    <div class="card cvision">
      <div class="card-body" id="mission">
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card text-center cvision">
      <div class="card-body cgeneral">
        <h5 class="card-title text-general">Mision</h5>
        <p class="card-text p-general">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi ullam aliquam incidunt hic totam quia aspernatur corrupti! Optio omnis error obcaecati eius atque nam at rerum fuga, placeat impedit. Libero!</p>
      </div> 
    </div>
  </div>
</div>
{% endblock %}
