{% include 'bookstores.html' %}
<!--Vision-->
{% block mission %}
<div class="row" >
  <div class="col-6 col-md-6">
    <div class="card cvision">
      <div class="card-body img-fluid" id="mission">
      </div>
    </div>
  </div>
  <div class="col-6 ">
    <div class="card cvision">
      <div class="card-header" id="text-general">Mision</div>
      <div class="card-body" id="cgeneral">
        <p class="card-text" id="p-general" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum in vel aperiam harum quisquam modi, eligendi dolores atque quibusdam sit reprehenderit enim consequatur ipsam nulla doloribus vero at accusantium ratione?</p>
      </div>
    </div>
  </div>
</div>
<hr>
{% endblock %}
