{% include 'bookstores.html' %}
<!--Estadisticas-->
{% block statistics %}
<div class="row">
  <div class="col-6 order-2 order-md-1">
    <div class="card cvision cinv">
      <div class="card-body" id="statictics">
      </div>
    </div>
  </div>
  <div class="col-6 order-1 order-md-2">
    <div class="card cvision">
      <div class="card-header" id="text-general">Información de Gestión y Estadísticas</div>
      <div class="card-body" id="cgeneral">
        <Lorem class="card-text" id="p-general" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum in vel aperiam harum quisquam modi, eligendi dolores atque quibusdam sit reprehenderit enim consequatur ipsam nulla doloribus vero at accusantium ratione?</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
