{% include 'bookstores.html' %}
<!--Estadisticas-->
{% block statistics %}
<div class="row mb-5">
  <div class="col-6">
    <div class="card cvision cinv">
      <div class="card-body" id="statictics">
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card text-center cvision">
      <div class="card-body cgeneral">
        <h5 class="card-title text-general">Información de Gestión y Estadísticas</h5>
        <p class="card-text p-general">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vero similique ipsam dolorem, sed, sit vel earum ipsa nihil minus nesciunt delectus provident alias pariatur modi, voluptas eius ab dolor.</p>
      </div> 
    </div>
  </div> 
</div>
{% endblock %}