{% include 'bookstores.html' %}
<!--Vision-->
{% block vision %}
<div class="row">
  <div class="col-6">
    <div class="card text-center cvision">
      <div class="card-body cgeneral">
        <h5 class="card-title text-general">Vision</h5>
        <p class="card-text p-general">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, quia possimus. Accusamus, doloremque vel aperiam in voluptas, consequatur laudantium perferendis quisquam qui quis ipsam ab cupiditate, fuga atque. Consectetur, non.</p>
      </div> 
    </div>
  </div>
  <div class="col-6">
    <div class="card cvision">
      <div class="card-body img-fluid" id="vision">
      </div>
    </div>
  </div>
</div>
{% endblock %}
