{% include 'bookstores.html' %}
<!--Vision-->
{% block vision %}
<div class="row">
  <div class="col-6 order-2 order-md-1">
    <div class="card cvision">
      <div class="card-header" id="text-general">Vision</div>
      <div class="card-body cgeneral" id="cgeneral">
        <p class="card-text" id="p-general">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum in vel aperiam harum quisquam modi, eligendi dolores atque quibusdam sit reprehenderit enim consequatur ipsam nulla doloribus vero at accusantium ratione?</p>
      </div>
    </div>
  </div>
  <div class="col-6 order-1 order-md-2">
    <div class="card cvision">
      <div class="card-body img-fluid" id="vision">
      </div>
    </div>
  </div>
</div>
{% endblock %}
